{% extends "Layout.html" %}
{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/jquery-ui.custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-editable.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/datepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/chosen.css' %}" />   
{% endblock %}
{% block content %}
<div class="container body-container" style="width:80%;">
    <div class="error-container">
        <div class="widget-box transparent">
		    <div class="widget-header widget-header-small">
		        <h3 class="widget-title smaller"><i class="ace-icon fa fa-book bigger-110"></i>REGISTRO DE TESIS DE INVESTIGACI&Oacute;N</h3>
		    </div>
	    </div>
    	<form action="/Tesis/UploadTesis/" method="post" class="form-horizontal" role="form" name="frmPublicarTesis" id="frmPublicarTesis">  
    	{% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget-body">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input multiple="" type="file" id="id_input_file_3" name="id_input_file_3" />
                                </div>
                                <canvas id="the-canvas" name="the-canvas" style="width:90%!important;margin-left: 5%!important; height:70%!important;" height="1" ></canvas>
                                <input type="hidden" id="urlimage" name="urlimage"/>
                                <img id="img1" name="img1" style="width: 80%;height: 40%;margin-left: 10%;"/>
                            </div>
                            <label for="form-field-tags"><b>Etiquetas:</b></label>
                            <div class="form-group">
                                <input type="text" name="form_field_tags" style="width:100%!important;" id="form_field_tags" value="" placeholder="Ingrese etiquetas..."/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group" style="margin-bottom:5px;" id="formtitulotesis" >
				            <label class="col-sm-2 control-label no-padding-right" for="titulotesis"><b>T&iacute;tulo:</b></label>
				            <div class="col-sm-10">
					            <input data-rel="tooltip" class="form-control" data-val="true" id="titulotesis" name="titulotesis" type="text"  placeholder="Ingrese T&iacute;tulo de Tesis" autocomplete="off">
			                </div>
                        </div>
                        <div class="form-group" style="margin-bottom:5px;" id="formfacultad">
						    <label class="col-sm-2 control-label no-padding-right" for="facultad"><b>Facultad:</b></label>
							<div class="col-sm-4">
								<select name="facultad" id="facultad" style="width:100%!important;">{% for facultades in context.facultad %}
                                    <option value="{{ facultades.id }}" >{{ facultades.Desc_Facultad }}</option>{% endfor %}
                                </select>
							</div>
                            <label class="col-sm-2 control-label no-padding-right" for="escuela"><b>Escuela:</b></label>
							<div class="col-sm-4">
							    <select name="escuela" id="escuela" style="width:100%!important;">{% for escuela in context.escuela %}
                                    <option value="{{ escuela.id }}">{{ escuela.Desc_Escuela }}</option>{% endfor %}
                                </select>
							</div>
					    </div>
                        <div class="form-group" style="margin-bottom:5px;" id="formform_field_date">
						    <label class="col-sm-2 control-label no-padding-right" for="form-field-date"><b>Fecha Apr.:</b></label>
							<div class="col-sm-4">
                                <div class="input-group">
                                    <input class="input-medium date-picker" id="form_field_date" name="form_field_date" type="text" data-date-format="dd-mm-yyyy" placeholder="DD-MM-YYYY" style="width:100%!important;">
								    <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
								</div>
							</div>
                            <label class="col-sm-2 control-label no-padding-right" for="grado"><b>Grado:</b></label>
							<div class="col-sm-4">
							    <select name="grado" id="grado" style="width:100%;" >{% for grado in context.grados %}
                                    <option value="{{ grado.id }}">{{ grado.Desc_Grado }}</option>{% endfor %}
                                </select>
							</div>
						</div>
                        <div class="form-group" style="margin-bottom:5px;" id="formchosenSelect1">
                            <label class="col-sm-2 control-label no-padding-left" for="chosenSelect1"><b>Tesista(s):</b></label>
						    <div class="col-sm-9">
                                <select class="chosen-select form-control" id="chosenSelect1" data-placeholder="Apellidos y Nombre(s)" style="-webkit-appearance: none;" single>
                                    <option value="">  </option>
                                </select>
                            </div>
							<div class="col-sm-1">
                                <button class="btn btn-sm btn-primary" type="button" value="Agregar" id="Agregar" data-min="0" data-max="0" disabled>
							        <i class="ace-icon glyphicon glyphicon-ok bigger-110"></i>
                                </button>
							</div>
						</div>
                        <input type="hidden" name="IdTesistas" value="" id="IdTesistas">
                        <div id="tesistas" style="margin-top:10px;"></div> 
                        <div class="form-group" style="margin-bottom:5px;" id="formchosenSelect2">
                            <label class="col-sm-2 control-label no-padding-left" for="form-field-1"><b>Tutores(s):</b></label>
						    <div class="col-sm-9">
                                <select class="chosen-select form-control" id="chosenSelect2" data-placeholder="Apellidos y Nombre(s)" style="-webkit-appearance: none;" single>
                                    <option value="">  </option>
                                </select>
                            </div>
							<div class="col-xs-12 col-sm-1">
                                <button class="btn btn-sm btn-primary" type="button" value="AgregarTutor" id="AgregarTutor" data-min="1" data-max="2" disabled><i class="ace-icon glyphicon glyphicon-ok bigger-110"></i></button>
                            </div>
						</div>
                        <input type="hidden" name="IdTutores" value="" id="IdTutores">
                        <div id="tutores" style="margin-top:10px;"></div>
                        <div class="row"> <label class="col-xs-12 col-sm-2 control-label no-padding-left" for="form-field-1"><b>Resumen:</b></label></div>
                        <div class="form-group" style="margin-bottom:5px;" >
                            <input type="hidden" name="iseditor" id="iseditor"/>
                            <div class="wysiwyg-editor" id="editor1" name="editor1"></div>
                        </div>

                    </div>
                </div>
                <div class="form-group" style="height:1%!important;margin-bottom:5%!important;margin-top:6%!important;" id="msj"></div>
                <div class="clearfix form-actions" style="margin-bottom:-5%; padding:10px 20px 10px!important;">
				    <div class="col-md-offset-5 col-md-7">
					    <button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i>Cancelar</button>
                        &nbsp; &nbsp;&nbsp;
                        <button class="btn btn-primary" ><i class="ace-icon fa fa-save bigger-110"></i>Guardar</button>
					</div>
				</div>
                <div class="form-group" style="margin-bottom:5%!important;margin-top:6%!important;" id="mensaje"></div>
            </fieldset>
    	</form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'app/js/jquery.form.js' %}"></script>
    <script src="{% static 'app/js/chosen.jquery.js' %}"></script>
    <script src="{% static 'app/js/date-time/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'app/js/x-editable/bootstrap-editable.js' %}"></script>
    <script src="{% static 'app/js/x-editable/ace-editable.js' %}"></script>
    <script src="{% static 'app/js/bootstrap-tag.js' %}"></script>
    <script src="{% static 'app/js/chosen.ajaxaddition.jquery.js' %}"></script>
    <script src="{% static 'app/js/DjangoAjax.js' %}"></script>
    <script src="{% static 'app/js/jquery.validate.js' %}"></script>
    <script src="{% static 'app/js/additional-methods.min.js' %}"></script>
    
    <script src="{% static 'app/js/markdown/markdown.js' %}"></script>
    <script src="{% static 'app/js/markdown/bootstrap-markdown.js' %}"></script>
    <script src="{% static 'app/js/bootstrap-wysiwyg.js' %}"></script>
    <script src="{% static 'app/js/jquery.hotkeys.js' %}"></script>
    <script src="{% static 'app/js/bootbox.js' %}"></script>

    <script src="{% static 'app/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'app/js/jquery.dataTables.bootstrap.js' %}"></script>
    
    <script src="{% static 'app/js/processing-api.min.js' %}"></script>
    <script src="{% static 'app/js/pdf.js' %}"></script>
    
    <script type="text/javascript">
        $('#id_input_file_3').ace_file_input({
            style: 'well',
            btn_choose: 'Seleccione un archivo',
            btn_change: null,
            no_icon: 'ace-icon fa fa-cloud-upload',
            droppable: true,
            thumbnail: 'small',
            allowExt: "pdf",
        }).on('change', function () { });


        PDFJS.disableWorker = true;
        var pdf = document.getElementById('id_input_file_3');
        pdf.onchange = function (ev) {
            if (file = document.getElementById('id_input_file_3').files[0]) {
                fileReader = new FileReader();
                fileReader.onload = function (ev) {
                    PDFJS.getDocument(fileReader.result).then(function getPdfHelloWorld(pdf) {
                        pdf.getPage(1).then(function getPageHelloWorld(page) {
                            var scale = 0.5;
                            var viewport = page.getViewport(scale);
                            var canvas = document.getElementById('the-canvas');
                            var context = canvas.getContext('2d');
                            canvas.width = viewport.width;
                            canvas.height = viewport.height;
                            canvas.style.display = "none";
                            var task = page.render({ canvasContext: context, viewport: viewport })
                            task.promise.then(function () {
                                var blob = dataURLtoBlob(canvas.toDataURL('image/jpeg'));
                                var fd = new FormData();
                                fd.append("image", blob, "filename.png");
                                fd.append('pk', '1');
                                var deferred = new $.Deferred;
                                deferred=$.ajax({
                                    url: 'uploadImagetemp',
                                    type: 'POST',
                                    processData: false,
                                    contentType: false,
                                    dataType: 'json',
                                    data: fd
                                })
                                deferred.done(function (result) {
                                    var res = result[0];
                                    if (res.status == 'OK') {
                                        $('#img1').attr("src", res.url);
                                        $('#urlimage').attr("value", res.urlimage);
                                    } else {
                                        alert(res.message);
                                    }
                                })
                                .fail(function (result) { alert(" ha ocurrido un error"); })
                                .always(function () {});
                                return deferred.promise();                                
                            });
                        });
                    }, function (error) {
                        console.log(error);
                    });
                };
                fileReader.readAsArrayBuffer(file);
            }
        }
        function dataURLtoBlob(dataurl) {
            var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new Blob([u8arr], { type: mime });
        }

        if (!ace.vars['touch']) {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            $('.chosen-select').chosen({ max_selected_options: 1 });
            $('.chosen-select').chosen({ no_results_text: "No hay resultados para " });
            var _instancechoosen = 0;
            $(window).off('resize.chosen').on('resize.chosen', function () {
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': ((_instancechoosen <= 1) ? '100%' : $this.parent().width()) });
                    _instancechoosen++;
                })
            }).trigger('resize.chosen');
            $(document).on('settings.ace.chosen', function (e, event_name, event_val) {
                if (event_name != 'sidebar_collapsed') return;
                $('.chosen-select').each(function () {
                    var $this = $(this);
                    $this.next().css({ 'width': $this.parent().width() });
                })
            });
        }
        $('#form_field_date').on("changeDate", function (date) {
            var _dateConsult = ConvertDateformat(date.date);
            $.ajax({
                data: { 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(), 'form_field_date': _dateConsult },
                url: '/consfecha',
                type: 'post',
                success: function (data) {
                    $('#Agregar').attr("data-min", data.CantMin);
                    $('#Agregar').attr("data-max", data.CantMax);
                    $('#Agregar').removeAttr("disabled");
                    $('#AgregarTutor').removeAttr("disabled");
                    if (parseInt(data.valor) == 1)
                        msgInformation(true, data.mensaje);
                }
            })
        });
        $("#chosenSelect1").ajaxChosen({
            data: function (params) { return { q: params.term, }; },
            type: 'POST',
            dataType: 'json',
            url: '/filtrarPersona',
        }, {
            loadingImg: '../static/app/css/images/loading.gif'
        });

        $("#chosenSelect2").ajaxChosen({
            data: function (params) { return { q: params.term, }; },
            type: 'POST',
            dataType: 'json',
            url: '/filtrarPersona',
        }, {
            loadingImg: '../static/app/css/images/loading.gif'
        });

        $('.date-picker').datepicker().next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('#facultad').on('change', busquedaEscuelas);
        function busquedaEscuelas() {
            var facultad = $('#facultad').val();
            $('#escuela').empty();
            $.ajax({
                data: { 'facultad': facultad },
                url: '/buscarEscuelas',
                type: 'get',
                beforeSend: function () {
                    $("#escuela").append('<option value="tmp" selected="selected">Cargando...</option>');
                    $("#escuela").attr('disabled', true);
                },
                success: function (data) {
                    $("#escuela").attr('disabled', false);
                    $("#escuela").html("");
                    $.each(data, function (i, item) {
                        $("#escuela").append("<option value=" + item.pk + ">" + item.fields.Desc_Escuela + "</option>");
                    });
                }
            });
        }

        function countRegisters(param1, param2) {
            var _count = 0;
            if (param2.trim() == "") {
                $('#' + param1 + ' tbody tr').each(function (index) { _count++; });
            }
            else {
                $('#' + param1 + ' tbody tr').each(function (index) {
                    var id = "";
                    $(this).children("td").each(function (index2) {
                        switch (index2) {
                            case 1: id = $(this).text(); break;
                            case 2: descrip = $(this).text(); break;
                        }
                    })
                    if (id == param2)
                        _count++;
                });
            }
            return _count;
        }

        var form_field_tesistas = "";
        var form_field_tutores = "";
        var tmp = "";
        $('#Agregar').click(function () {
            var _choosenSelected = document.getElementById("chosenSelect1");
            var _IdAutor = _choosenSelected.options[_choosenSelected.selectedIndex].value.toString();
            var _desAutor = "" + _choosenSelected.options[_choosenSelected.selectedIndex].text.toString();
            var mensaje = "";
            if (_IdAutor.trim().length == 0) {
                mensaje = "<h5>Por favor Seleccione Tesista <h5>";
            }
            else {
                var _checkCountRegisters = countRegisters("tableTesistas", "");
                if (_checkCountRegisters < parseInt($(this).data('max'))) {
                    var _checkCountDataid = countRegisters("tableTesistas", _IdAutor);
                    if (_checkCountDataid > 0)
                        mensaje = "<h5> Tesista ya ha sido Agregado <h5>";
                } else {
                    mensaje = "<h5>ya no se puede agregar mas Tesistas";
                }
            }
            if (mensaje.trim().length == 0) {
                form_field_tesistas = NewTableTypeUser('tesistas', 'tableTesistas', _IdAutor, _desAutor, 'delRegTes', 'IdTesistas');
                $('#chosenSelect1').val('').trigger('chosen:updated');
            }
            else {
                msgInformation(true, mensaje);
            }
        });
        $('#AgregarTutor').click(function () {
            var _choosenSelected = document.getElementById("chosenSelect2");
            var _IdAutor = _choosenSelected.options[_choosenSelected.selectedIndex].value.toString();
            var _desAutor = "" + _choosenSelected.options[_choosenSelected.selectedIndex].text.toString();
            var mensaje = "";
            if (_IdAutor.trim().length == 0) {
                mensaje = "<h5>Por favor Seleccione Tutor <h5>";
            }
            else {
                var _checkCountRegisters = countRegisters("tableTutor", "");
                if (_checkCountRegisters < parseInt($(this).data('max'))) {
                    var _checkCountDataid = countRegisters("tableTutor", _IdAutor);
                    if (_checkCountDataid > 0)
                        mensaje = "<h5> Tutor ya ha sido Agregado <h5>";
                } else {
                    mensaje = "<h5>ya no se puede agregar Tutor";
                }
            }
            if (mensaje.trim().length == 0) {
                NewTableTypeUser('tutores', 'tableTutor', _IdAutor, _desAutor, 'delRegTutor', 'IdTutores');
                $('#chosenSelect2').val('').trigger('chosen:updated');
            }
            else {
                msgInformation(true, mensaje);
            }
        });

        function NewTableTypeUser(iddiv, idTable, idPerson, DesPerson, idaction, IdText) {
            var _counregisterTable = 0;
            var _tmpId = "";
            var _tmpcadena = "";
            var tbody = document.createElement("tbody");
            $('#' + idTable + ' tbody tr').each(function (index) {
                var hileratr = document.createElement("tr");
                var id = "", descripcion = "";
                $(this).children("td").each(function (index2) {
                    var hileratd = document.createElement("td");
                    switch (index2) {
                        case 0: _counregisterTable++; break;
                        case 1:
                            id = $(this).text();
                            _tmpId += id + ",";
                            break;
                        case 2:
                            descripcion = $(this).text();
                            _tmpcadena += "- " + descripcion + "<br>";
                            break;
                    }
                    if (index2 <= 2) {
                        var _nodo = document.createTextNode((index2 == 0 ? _counregisterTable : (index2 == 1 ? id : descripcion)));
                        hileratd.appendChild(_nodo);
                        hileratr.appendChild(hileratd);
                    } else {
                        var _text = '<button class="btn btn-xs btn-danger" type="button" id="' + idaction + '"><i class="ace-icon fa fa-trash-o bigger-120"></i></button>'
                        hileratd.innerHTML = _text;
                        hileratr.appendChild(hileratd);
                    }
                })
                tbody.appendChild(hileratr);
            })
            var _query = "<table id='" + idTable + "' class='table table-striped table-bordered table-hover'></table>"
            var tbheady = document.createElement("thead");
            var hileratr = document.createElement("tr");
            var hileratr_aux = document.createElement("tr");
            for (i = 0; i < 4; i++) {
                var hileratd1 = document.createElement("td");
                var hilerath = document.createElement("th");
                var _nodo = document.createTextNode(((i == 0) ? "Id" : ((i == 1) ? "Codigo" : ((i == 2) ? "Nombre(s) y Apellidos" : ""))));
                hilerath.appendChild(_nodo);
                if (i <= 2) {
                    var _nodo = document.createTextNode((i == 0 ? (_counregisterTable + 1) : (i == 1 ? idPerson : DesPerson)));
                    hileratd1.appendChild(_nodo);
                    hileratr_aux.appendChild(hileratd1);
                } else {
                    hileratd1.innerHTML = "<button class='btn btn-xs btn-danger' type='button' id='" + idaction + "'><i class='ace-icon fa fa-trash-o bigger-120'></i></button>";
                    hileratr_aux.appendChild(hileratd1);
                }
                hileratr.appendChild(hilerath);
            }
            _tmpId += idPerson;
            _tmpcadena += "- " + DesPerson;
            $('#' + IdText).attr("value", _tmpId);
            tbheady.appendChild(hileratr);
            $('#' + IdText).val()
            tbody.appendChild(hileratr_aux);
            $('#' + iddiv).html("");
            $('#' + iddiv).append(_query);
            $('#' + idTable).append(tbheady);
            $('#' + idTable).append(tbody);
            return _tmpcadena;
        }

        $(function () {
            $(document).on('click', '#delRegTes', function (event) {
                event.preventDefault();
                form_field_tesistas = deleteRowinGrid('tesistas', 'tableTesistas', this, 'IdTesistas');
            });
        });
        $(function () {
            $(document).on('click', '#delRegTutor', function (event) {
                event.preventDefault();
                form_field_tutores = deleteRowinGrid('tutores', 'tableTutor', this, 'IdTutores');
            });
        });
        function deleteRowinGrid(iddiv, idtable, r, IdText) {
            var _tmpcadena = "";
            var _tmpId = "";
            var _checkCountRegisters = countRegisters(idtable, "");
            if ((_checkCountRegisters - 1) <= 0) {
                $('#' + iddiv).html("");
                tmp = "";
                _tmpId = "";
            } else {
                var i = r.parentNode.parentNode.rowIndex;
                document.getElementById(idtable).deleteRow(i);
                $('#' + idtable + ' tbody tr').each(function (index) {
                    $(this).children("td").each(function (index2) {
                        switch (index2) {
                            case 0:
                                document.getElementById(idtable).rows[index + 1].cells[index2].innerText = (index + 1);
                                break;
                            case 1:
                                _tmpId += $(this).text() + ",";
                                break;
                            case 2:
                                _tmpcadena += "- " + $(this).text(); + "<br>";
                                break;
                        }
                    })
                })
                $('#' + IdText).attr("value", _tmpId);
            }
            return _tmpcadena;
        }


        $('#editor1').ace_wysiwyg({
            toolbar:
            [
                'font',
                null,
                'fontSize',
                null,
                { name: 'bold', className: 'btn-info' },
                { name: 'italic', className: 'btn-info' },
                null,
                { name: 'insertunorderedlist', className: 'btn-success' },
                { name: 'insertorderedlist', className: 'btn-success' },
                { name: 'outdent', className: 'btn-purple' },
                { name: 'indent', className: 'btn-purple' },
                null,
                { name: 'justifyleft', className: 'btn-primary' },
                { name: 'justifycenter', className: 'btn-primary' },
                { name: 'justifyright', className: 'btn-primary' },
                { name: 'justifyfull', className: 'btn-inverse' },
                null,
                'foreColor',
                null,
                { name: 'undo', className: 'btn-grey' },
                { name: 'redo', className: 'btn-grey' }
            ],
            'wysiwyg': {
                fileUploadError: showErrorAlert
            }
        }).prev().addClass('wysiwyg-style2');

        function showErrorAlert(reason, detail) {
            var msg = '';
            if (reason === 'unsupported-file-type') { msg = "Unsupported format " + detail; }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
             '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
        }


        var tag_input = $('#form_field_tags');
        try {
            tag_input.tag( { placeholder: tag_input.attr('placeholder'), })
        }
        catch (e) {
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3" style="width:100%!important;">' + tag_input.val() + '</textarea>').remove();
        }

        $('#frmPublicarTesis').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                form_field_tags: { required: true },
                titulotesis: { required: true },
                form_field_date: { required: true },
                id_input_file_3: { required: true, extension: "pdf" },
                grado: { required: true },
                IdTutores:{ required: true },
                IdTesistas:{ required: true }
            },
            messages: {
                form_field_tags: { required: "Ingrese etiqueta" },
                titulotesis: { required: "Ingrese Titulo de la tesis" },
                form_field_date: { required: "Ingrese fecha de aprobaci&oacute;n" },
                id_input_file_3: { required: "Ingrese archivo" },
                grado: { required: "Seleccione grado" },
                IdTutores:{ required:"Ingrese tutores" },
                IdTesistas:{ required: "Ingrese tesista(s)"}
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },
            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
                $('#iseditor').attr("value", $('#editor1').html())
                $("form[name=frmPublicarTesis]").ajaxForm({
                    success: function (data) {
                        if (parseInt(data.valor) == 0) {
                            document.location.href = data.redirect;
                        } else {
                            var _html = "";
                            _html += '<div class="alert alert-danger"><button class="close" data-dismiss="alert">';
                            _html += '<i class="ace-icon fa fa-times"></i></button>';
                            _html += data.mensaje + '</div>';
                            $('#msj').append(_html);
                        }
                    }
                });
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
        });

    </script>
{%endblock%}